<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="truewatcher.signaltrackwriter"
    android:versionCode="26"
    android:versionName="2.4.0" >
  <!--
  trackwriter
  1.4.0 5 18.02.2020 added saving to the truewatcher.tower folder
  1.4.1 6 19.02.2020 fixed starting new segment after deleteLastSegment
  1.4.2 7 28.02.2020 bugfix
  1.4.3 8 01.03.2020 code improvements in TrackStorage
  1.4.4 9 06.03.2020 refactoring
  signaltrackwriter
  2.0.0  20 18.11.2023 added CellInformer
  2.0.1  21 19.11.2023 added serial id
  2.1.1  22 27.11.2023 signal data as json
  2.2.0  23 14.12.2023 adapted to Andrroid 11 (tower 2.9.6)
  2.2.1  24 17.12.2023 improved UI (TrackActivity from tower 2.9.6)
  2.3.0  25 11.01.2024 bugfix, added Renumber
  2.4.0  26 26.03.2024 added CELLS page and CellsActivity
  -->

  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

  <uses-feature android:name="android.hardware.location.gps" />

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">

    <activity
        android:name="truewatcher.signaltrackwriter.MainActivity"
        android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
        android:name="truewatcher.signaltrackwriter.CellsActivity" />
    <activity
        android:name="truewatcher.signaltrackwriter.SettingsActivity" />

    <service
        android:name="truewatcher.signaltrackwriter.ForegroundService"
        android:foregroundServiceType="location"
        android:enabled="true"
        android:exported="true" />

  </application>

</manifest>