<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="82"
    android:versionName="2.11.1" >
<!--
2.8.3  68 07.01.2021 adapted for Android 9+ restrictions
2.9.0  69 16.11.2023 signal dbm in CellInformer, 5G, targetApi > 30
2.9.1  70 18.11.2023 added cell info service "none"
2.9.2  71 20.11.2023 improvements on CellInformer
2.9.3  72 21.11.2023  more improvements on CellInformer
2.9.4  73 23.12.2023  whole lot of 5G cell data; default cell location Off
2.9.5  74 12.12.2023  adapted to Android 11
2.9.6  75 14.12.2023  refactored CellInformer
2.10.0 76 29.10.2024  gradle -> 8.9, AGP -> 8.7.1, BuildSDK -> 33
2.10.1 77 31.10.2024  useMediaFolder, other improvements from stw 2.7.2
2.10.2 78 31.10.2024  refactoring
2.10.3 79 01.11.2024  added dayNight theme, BuildSDK -> 34
2.10.4 80 01.11.2024  more on dayNight theme
2.11.0 81 06.11.2024  migrated to androidx libraries
2.11.1 82 07.11.2024  added TYPE_CLASS_NUMBER to Settings
-->

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher3"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:theme="@style/MyTheme1" >

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddPointActivity" ></activity>
        <activity android:name=".ListActivity" ></activity>
        <activity android:name=".FileActivity" ></activity>
        <activity android:name=".EditPointActivity" ></activity>
        <activity android:name=".TrackActivity" ></activity>
        <activity android:name=".PreferencesActivity" ></activity>
        <activity android:name=".Tests1" android:exported="true"></activity>
        <service
            android:name=".ForegroundService"
            android:foregroundServiceType="location"
            android:exported="true"
            android:enabled="true" />
     </application>

</manifest>